accelerate==1.0.1
addict==2.4.0
bitsandbytes==0.42.0
clip==0.2.0
clip_retrieval==2.44.0
cog==0.13.6
controlnet_aux==0.0.9
cumm==0.7.11
deepfloyd_if==1.0.1
deepspeed==0.10.0
diffusers==0.32.1
easydict==1.13
easyocr==1.7.2
editdistance==0.8.1
einops==0.8.0
fastapi==0.115.6
fire==0.7.0
flash_attn==2.7.2.post1
ftfy==6.3.1
gradio==5.9.1
gradio_client==1.5.2
huggingface_hub==0.26.3
iopath==0.1.10
ipdb==0.13.13
lama_cleaner==1.2.5
langchain==0.3.13
litellm==1.56.4
matplotlib==3.10.0
nltk==3.9.1
num2words==0.5.13
numpy==2.2.1
onnxruntime==1.20.1
openai==1.58.1
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
packaging==24.2
pandas==2.2.3
peft==0.12.0
Pillow==11.0.0
polyglot==16.7.4
pycld2==0.41
pycocoevalcap==1.2
pycocotools==2.0.8
python_box==7.3.0
pytorchvideo==0.1.5
PyYAML==6.0.2
PyYAML==6.0.2
qwen_vl_utils==0.0.8
ram==0.1
ray==2.40.0
regex==2024.11.6
Requests==2.32.3
scipy==1.14.1
seaborn==0.13.2
setuptools==75.1.0
shortuuid==1.0.13
spacy==3.6.0
spconv==2.3.8
supervision==0.25.1
SwissArmyTransformer==0.4.12
termcolor==2.5.0
timm==1.0.12
torch==2.2.0+cu121
torchaudio==2.2.0+cu121
torchvision==0.17.0+cu121
tqdm==4.67.1
transformers==4.46.1
ultralytics==8.3.55
uvicorn==0.34.0
whisper==1.1.10
xformers==0.0.24
yapf==0.43.0
