psutil==6.1.0
colorama==0.4.6
setproctitle==1.2.2
sacrebleu==2.5.1
pathspec==0.12.1
nvidia-cuda-runtime-cu12==12.1.105
opencensus==0.11.4
cymem==2.0.11
lark==1.2.2
frozenlist==1.5.0
liger_kernel==0.5.2
mdurl==0.1.2
interegular==0.3.3
tabledata==1.3.4
thinc==8.2.5
uvloop==0.21.0
gguf==0.10.0
nvidia-ml-py==12.570.86
math-verify==0.6.0
nvidia-cusolver-cu12==11.4.5.107
google-api-core==2.24.1
einops==0.8.1
proto-plus==1.26.0
colorful==0.5.6
absl-py==2.1.0
wheel==0.45.1
tzdata==2025.1
tcolorpy==0.1.7
rouge_score==0.1.2
opencensus-context==0.1.3
aiohttp==3.11.12
xformers==0.0.28.post3
pathvalidate==3.2.3
iniconfig==2.0.0
numba==0.60.0
blis==0.7.11
orjson==3.10.15
catalogue==2.0.10
ipython==8.32.0
gitdb==4.0.12
multiprocess==0.70.16
pytest==8.3.4
pyasn1==0.6.1
prompt_toolkit==3.0.50
Jinja2==3.1.5
outlines==0.1.11
inquirerpy==0.3.4
urllib3==2.3.0
distro==1.9.0
outlines_core==0.1.26
pillow==11.1.0
parso==0.8.4
threadpoolctl==3.5.0
torch==2.5.1+cu121
protobuf==3.20.3
colorama==0.4.6
starlette==0.45.3
filelock==3.17.0
jsonschema==4.23.0
qwen-vl-utils==0.0.10
chardet==5.2.0
dill==0.3.8
scipy==1.15.2
httpx==0.28.1
Pygments==2.19.1
black==25.1.0
aiosignal==1.3.2
transformers==4.49.0.dev0
pyflakes==3.2.0
llvmlite==0.43.0
nvidia-cufft-cu12==11.0.2.54
msgpack==1.1.0
langcodes==3.5.0
mypy-extensions==1.0.0
propcache==0.2.1
DataProperty==1.1.0
nvidia-cublas-cu12==12.1.3.1
nvidia-nccl-cu12==2.21.5
shellingham==1.5.4
certifi==2025.1.31
mbstrdecoder==1.1.4
distlib==0.3.9
google-auth==2.38.0
marisa-trie==1.2.1
tornado==6.4.2
tabulate==0.9.0
py-spy==0.4.0
packaging==24.2
docker-pycreds==0.4.0
fire==0.7.0
lighteval==0.6.0.dev0
fastapi-cli==0.0.7
pyzmq==26.2.1
language_data==1.3.0
wasabi==1.1.3
python-multipart==0.0.20
parameterized==0.9.0
stack-data==0.6.3
nvidia-cuda-cupti-cu12==12.1.105
triton==3.1.0
partial-json-parser==0.2.1.1.post5
peft==0.15.0
isort==6.0.0
httptools==0.6.4
platformdirs==4.3.6
spacy-loggers==1.0.5
torchdata==0.11.0
annotated-types==0.7.0
nvidia-nvtx-cu12==12.1.105
accelerate==1.4.0
termcolor==2.3.0
googleapis-common-protos==1.67.0
blake3==1.0.4
sympy==1.13.1
email_validator==2.2.0
pycodestyle==2.12.1
cachetools==5.5.1
grpcio==1.70.0
sniffio==1.3.1
py-cpuinfo==9.0.0
prometheus_client==0.21.1
xxhash==3.5.0
datasets==3.3.1
joblib==1.4.2
latex2sympy2_extended==1.0.9
networkx==3.4.2
setuptools==75.8.0
pfzy==0.3.4
pexpect==4.9.0
executing==2.2.0
MarkupSafe==3.0.2
portalocker==3.1.1
typepy==1.3.4
ray==2.40.0
pybind11==2.13.6
multidict==6.1.0
jupyter_core==5.7.2
latex2sympy2==1.9.1
lxml==5.3.1
cupy-cuda12x==13.4.0
jsonschema-specifications==2024.10.1
duckdb==1.2.1
fasteners==0.19
opencv-python-headless==4.11.0.86
python-dotenv==1.0.1
virtualenv==20.29.2
wcwidth==0.2.13
pyarrow==19.0.0
nvidia-nvjitlink-cu12==12.4.127
codetiming==1.4.0
decorator==5.1.1
referencing==0.36.2
pytablewriter==1.2.1
verl==0.2.0.dev0
ipykernel==6.29.5
aenum==3.1.15
tensordict==0.5.0
pydantic==2.10.6
pydantic_core==2.27.2
torchvision==0.20.1+cu121
fsspec==2024.12.0
omegaconf==2.3.0
python-dateutil==2.9.0.post0
nest-asyncio==1.6.0
ninja==1.11.1.3
numpy==1.26.4
av==14.1.0
attrs==25.1.0
colorlog==6.9.0
aiohappyeyeballs==2.4.6
typing_extensions==4.12.2
smmap==5.0.2
wandb==0.19.6
PyYAML==6.0.2
websockets==15.0
pytz==2025.1
prometheus-fastapi-instrumentator==7.0.2
sentencepiece==0.2.0
srsly==2.5.1
debugpy==1.8.12
tokenizers==0.21.0
loguru==0.7.3
rsa==4.9
charset-normalizer==3.4.1
six==1.17.0
setproctitle==1.3.4
airportsdata==20241001
rich-toolkit==0.13.2
pluggy==1.5.0
compressed-tensors==0.9.1
mistral_common==1.5.3
pure_eval==0.2.3
torchaudio==2.5.1+cu121
click==8.1.8
sentry-sdk==2.22.0
mccabe==0.7.0
pandas==2.2.3
traitlets==5.14.3
matplotlib-inline==0.1.7
rich==13.9.4
diskcache==5.6.3
preshed==3.0.9
nvidia-cusparselt-cu12==0.6.2
spacy==3.7.2
uvicorn==0.34.0
tiktoken==0.9.0
rpds-py==0.22.3
fastapi==0.115.8
cloudpickle==3.1.1
importlib_metadata==8.6.1
requests==2.32.3
scikit-learn==1.6.1
aiohttp-cors==0.7.0
httpcore==1.0.7
weasel==0.3.4
pycountry==24.6.1
markdown-it-py==3.0.0
hf_transfer==0.1.9
pip==25.0
jiter==0.8.2
yarl==1.18.3
nvidia-cudnn-cu12==9.1.0.70
spacy-legacy==3.0.12
hjson==3.1.0
deepspeed==0.15.4
tqdm==4.67.1
nvidia-cuda-nvrtc-cu12==12.1.105
tensorboardX==2.6.2.2
pyasn1_modules==0.4.1
jupyter_client==8.6.3
pylatexenc==2.10
confection==0.1.5
asttokens==3.0.0
msgspec==0.19.0
watchfiles==1.0.4
astor==0.8.1
huggingface-hub==0.28.1
fastrlock==0.8.3
lm-format-enforcer==0.10.10
h11==0.14.0
regex==2024.11.6
idna==3.10
antlr4-python3-runtime==4.9.3
trl==0.14.0
xgrammar==0.1.11
psutil==7.0.0
hydra-core==1.3.2
ptyprocess==0.7.0
mpmath==1.3.0
nltk==3.9.1
anyio==4.8.0
typer==0.15.2
GitPython==3.1.44
nvidia-cusparse-cu12==12.1.0.106
vllm==0.7.3
safetensors==0.5.2
flake8==7.1.2
murmurhash==1.0.12
flash_attn==2.7.4.post1
openai==1.63.2
smart-open==6.4.0
cloudpathlib==0.16.0
comm==0.2.2
zipp==3.21.0
dnspython==2.7.0
depyf==0.18.0
nvidia-curand-cu12==10.3.2.106
jedi==0.19.2
transformers==4.49.0.dev0
verl==0.2.0.dev0
r1_p==0.1.0
r1-v==0.1.0
stare_open==0.1.0
open-r1==0.1.0.dev0
tool_server==0.1.0
platformdirs==4.2.2
packaging==24.2
wheel==0.43.0
tomli==2.0.1
importlib_metadata==8.0.0
autocommand==2.2.2
inflect==7.3.1
jaraco.text==3.12.1
jaraco.collections==5.1.0
zipp==3.19.2
more-itertools==10.3.0
typeguard==4.3.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
backports.tarfile==1.2.0
typing_extensions==4.12.2
