model_args:
  model: qwen2vl
  model_args: pretrained=/mnt/petrelfs/share_data/mmtool/weights/qwen-cogcom-base
  batch_size: 2
  max_rounds: 3
  stop_token: <stop>
task_args:
  task_name: charxiv
  resume_from_ckpt:
    charxiv: ./tool_server/tf_eval/scripts/logs/ckpt/charxiv/qwen2vl.jsonl
  save_to_ckpt:
    charxiv: ./tool_server/tf_eval/scripts/logs/ckpt/charxiv/qwen2vl.jsonl
script_args:
  verbosity: INFO
  output_path: ./tool_server/tf_eval/scripts/logs/results/charxiv/qwen2vl.jsonl
  # controller_addr: http://10.140.54.30:20001